:root {
    --grey : #262626;
    --grey2: #DBDBDB;
    --grey3: #8E8E92;
    --blueDisable : #b5E2FF;
    --blue: #0095F6;

    --size14: 1.4rem;
    --size16: 1.6rem;
    --smallSize: 1.2rem;
}

::-webkit-scrollbar {
    border: 1px solid green;
    display: none;
}

.home {
   display: flex; 
}

.home__left {
    height: 100vh;
    padding-top:3% ;
    padding-left:1.5% ;
    color:var(--grey);
}

.home__logo > img {
    /* font-size: 2rem; */
    width: 45%;
}

.publication__number-of-like {
    font-weight: bold;
    margin: 2% 0;
}
.home__link:hover .home__link-icon {
    transform: scale(1.05);
}

.home__link-icon {
    font-size: 1.6rem;
}

.home__link > span {
    margin-left: 1rem;
}

.home__right {
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 2% 8%;
    /* grid-template-columns: 85% 55%; */
}

.home__publications {
    width: 50%;
    height: 100vh;
    overflow-x: scroll;
}

.home__header {
    border: 1px solid var(--grey2);
    border-radius: .5rem; 
    padding: 1rem;
    height: 20vh;
    display: flex;
    overflow-y: scroll;
    width: 100%;
    background-color: white;

}

.home__status p {
    font-size: .8rem;
}

.home__status > img {
    border-radius: 4.3rem;
    width: 4.3rem;
    height: 4.3rem;
}


.current-user {
    width: 40%;
}

.current-user__infos {
    display: flex;
    border: 1px solid red;
    padding:4% 0;
    justify-content: space-between;
    align-items: center;

}
.current-user__infos button {
    background: none;
    border: none;
    color: var(--blue);
    font-size: .9rem;
    font-weight: bold;
}

.current-user__infos img {
    display: block;
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 100%;
}

.current-user__name {
    width: 55%;
}

.current-user__name :first-child {
    font-weight: bold;
}

.current-user__name :last-child {    
    color:var(--grey3);
}

.current-user__suggestions :first-child {
    display: flex;
    justify-content: space-between;
    /* font-weight: bold;
    color:var(--grey3); */
}

.current-user__suggestions  button {
    background: none;
    border: none;
    font-size: .9rem;
    font-weight: bold;
} 

.suggested-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggested-contacts > img {
    width: 4.2rem;
    height: 4.2rem;
    border: 1px solid blue;
    border-radius: 100%;
}

.suggested-contacts >div {
    /* display: flex; */
}

.suggested-contacts__name {
    font-weight: bold;
    
}